@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900 text-zinc-300 antialiased relative;
  }

  /* Adds a subtle noise texture for a rich, tactile feel */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiGAAAAA1BMVEX///+nxBvIAAAAIElEQVR42mP4BwYY/wESIwPAf2Cg4v9/YIARgABHAgB20gEQL1e56QAAAABJRU5ErkJggg==');
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-100;
  }
}

@layer utilities {
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-on-scroll {
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .is-visible {
    animation-name: fade-in-up;
    animation-duration: 0.8s;
  }
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlow {
  animation: fadeInSlow 1.5s ease-out forwards;
}